
@{
    ViewBag.Title = "Aiken";
}

<h2>Aiken</h2>


<p>
    @KTraining.Resources.Views.Aiken.Aiken1
</p>
<br />
@KTraining.Resources.Views.Aiken.Aiken2
<br />
<p>
    @KTraining.Resources.Views.Aiken.Aiken3
    <br />
    @KTraining.Resources.Views.Aiken.Aiken4
    <br />
    @KTraining.Resources.Views.Aiken.Aiken5
    <br />
    @KTraining.Resources.Views.Aiken.Aiken6
    <br />
    @KTraining.Resources.Views.Aiken.Aiken7
    <br />
    @KTraining.Resources.Views.Aiken.Aiken8
    <br />
</p>
<p>
    @KTraining.Resources.Views.Aiken.Aiken3
    <br />
    @KTraining.Resources.Views.Aiken.Aiken10
    <br />
    @KTraining.Resources.Views.Aiken.Aiken11
    <br />
    @KTraining.Resources.Views.Aiken.Aiken12
    <br />
    @KTraining.Resources.Views.Aiken.Aiken13
    <br />
    @KTraining.Resources.Views.Aiken.Aiken14
</p>
<br />
<p>
    @KTraining.Resources.Views.Aiken.Aiken15
</p>
