
@{
    ViewBag.Title = "Type";
}

<h2>@KTraining.Resources.Views.Test.TypeTests</h2>

<div>
    <div>
        <a href="/AutomaticTest/Tests"><h4>@KTraining.Resources.Views.Test.Tests @KTraining.Resources.Views.Test.CheckedSys.ToLower()</h4></a>
    </div>
    <div>
        <a href="/ManualTest/Tests"><h4>@KTraining.Resources.Views.Test.Tests @KTraining.Resources.Views.Test.CheckedLeader.ToLower()</h4></a>
    </div>
</div>